body{
  padding: 50px;
}

.main{
  text-align: center; 
}

.main li {
    display:inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/        
}

.font{
  font-size: 30pt;
  margin: 30px 50px 50px 50px;
}

.search_result{
  text-align: center;
}



.copy:link {
	font-size: 15pt;
	color: rgb(102, 102, 102);
}

.new_list {
  list-style-type:none
}
