body {
	margin: 30px auto;
	padding: 0;
	width: 650px;
	font: 75%/160% Arial, Helvetica, sans-serif;
	color: #333333;
}
code {
	font: 120% "Courier New", Courier, monospace;
	white-space: nowrap;
	color: #6666CC;
}
p {
	margin: 0;
	padding: 0 0 1em;
}
a {
	color: #FF3300;
	padding:0
}
h1 {
	font: bold 260%/100% Arial, Helvetica, sans-serif;
	margin: 0 0 10px;
	padding: 0;
	letter-spacing: -2px;
}
h2 {
	font: normal 140%/130% Arial, Helvetica, sans-serif;
	color: #666666;
}
h3 {
	font: bold 140%/130% Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0;
	padding: 20px 0 5px;
}
h3 a {
	color: #000;
	text-decoration: none;
}
h3 a:hover {
	color: #FF3300;
}
iframe {
	border-top: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #333;
	border-bottom: solid 1px #333;
	margin: 10px 0 20px;
}

.example {
	border-top: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #333;
	border-bottom: solid 1px #333;
	margin: 10px 0 20px;    
}

pre {

	border-top: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #333;
	border-bottom: solid 1px #333;
	font: 120% "Courier New", Courier, monospace;
	color: #6666CC;
}

.cursor {
    cursor:pointer;
}

img {
    border:0;
    margin:0;
    padding:0
}

form {
    display: block;
    text-align:center;
}

input {
	font: 120% "Courier New", Courier, monospace;
	
	border-top: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #333;
	border-bottom: solid 1px #333;
}
